<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353950052324-jvqv810g0geajm8aptge123r0vt3dbn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353950052324-jvqv810g0geajm8aptge123r0vt3dbn8</string>
	<key>API_KEY</key>
	<string>AIzaSyBUEBcUvQCyedMgnahjeBWpHV8kAnKKsXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>353950052324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mbd.TMDBMovie</string>
	<key>PROJECT_ID</key>
	<string>tdmbmovies</string>
	<key>STORAGE_BUCKET</key>
	<string>tdmbmovies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353950052324:ios:15f33ca2694eef40a121f1</string>
</dict>
</plist>